@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Pacifico&family=Playfair+Display:wght@500&family=Ysabeau+Infant&display=swap");

:root {
  --background: rgb(0, 0, 0);
  --text: rgb(242, 228, 228);
  --blue: rgb(47, 186, 241);
  --darkblue: rgb(2, 22, 58);
  --orange: rgb(245, 146, 32);
}

@keyframes slope{
  0%{
      opacity: 0;
  }
  25%{
      opacity: 2.5;
  }
  50%{
      opacity: 4.5;
  }
  75%{
      opacity: 6.5;
  }
  100%{
      opacity: 10;
  }
}

.show{
  display: block;
}

.hide{
  display: none;
}

.back{
  font-size: 2vw;
}

.showCardAdd{
  font-size: 2vw;
}

body {
  background-color: var(--background);
  background-size: cover;
}

html {
  cursor: context-menu;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation-name: slope;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  backdrop-filter: blur(10px);
}

/* .centerImg{
  display: flex;
  position: fixed;
  top: 30vh;
  left: 17vw;
  width: 70vw;
  mix-blend-mode: lighten;
} */

.blurBackground {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.logo {
  color: var(--text);
  font-size: 3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px auto;
  padding: 0vw 1vw;
  /* backdrop-filter: blur(10px); */
  background: rgb(8, 8, 8);
  position: sticky;
  top: 0px;
  z-index: 6;
}

.List {
  font-size: 2.8vw;
  color: var(--text);
}
.logo::first-letter{
  color: var(--blue);
  font-size: 4vw;
}

.addItem {
  color: var(--blue);
  float: right;
  padding: 1vw;
  font-size: 2.2vw;
  border: 1px solid transparent; 
  width: 12vw;
  text-align: center;
  transition: all 0.2s linear;
}

.addItem:hover{
  border: 1px solid rgb(41, 174, 207) ;
  color: var(--text);
}

.popupDiv {
  padding: 1vw;  
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.11);
  text-align: center;
  width: 40%;
  position: fixed;
  left: 31%;
  top: 20%;
  z-index: 4;
  font-size: 2vw;
}


.input{
  width: 93%;
  text-align: center;
  padding: 3% 0%;
  margin-top: 10px;
  font-size: 2vw;

}

.input:focus{
  outline-color: var(--red);
}

.add{
  border: 1px solid transparent;
  width: 90%; 
  margin: 5px auto;
  background: var(--blue);
  padding: 0.5vw;
  color: white;
  transition: all 0.1s linear;
}

.add:hover{
  background-color: transparent;
  border-color: var(--blue);
  color: var(--blue);
}

.close{
  transition: all 0.1s linear;
  border: 1px solid transparent;
  width: 90%; 
  margin: 5px auto;
  background: var(--darkblue);
  padding: 0.5vw;
  color: white;
}

.close:hover{
  background-color: transparent;
  border-color: var(--orange);
  color: var(--orange);
}

.popupHeading {
  color: var(--text);
  font-size: 3vw;
  margin: 1% auto;
}

.cardContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  position: relative;
  margin: auto;
}

.cardBody{
  min-width: 31%;
  min-height: 40vw;
  text-align: center;
  box-shadow: 0px 10px 20px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--background);
}

.cardBody2{
  position: fixed;
  top: 25vh;
  left: 28vw;
  min-width: 45%;
  min-height: 40vw;
  text-align: center;
  box-shadow: 0px 10px 20px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--background);
}

/* .cardBody:hover{
  scale: 1.05;
  transform: translate(0px,-20px);
  box-shadow: 0px 15px 30px rgb(0, 0, 0);
} */

.cardTitle {
  cursor: pointer;
  text-align: center;
  backdrop-filter: blur(10px);
  padding:15px 0px;
  font-size: 2.5vw;
  margin: 0px auto;
  color: var(--text);
  background-color: rgb(44, 51, 59);
}

.cardInnerDiv {
  min-height: 30vw;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.058);
  background-blend-mode: screen;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin:0px  auto;
}

.cardDuttonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vw auto;
  font-size: 2vw;
}

.cardDeleteButton {
  width: 45%;
  outline: none;
  border: 1px solid var(--darkblue);
  background-color: var(--darkblue);
  color:var(--text);
  padding: 1vw 0vw;
  transition: all 0.1s linear;
  border-radius: 0.5vw;
}

.cardDeleteButton:hover{
  background-color: transparent;
  color: var(--orange);
}

.cardAddButton {
  width: 45%;
  border-radius: 0.5vw;
  outline: none;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color:var(--text);
  padding: 1vw 0vw;
  transition: all 0.1s linear;
}

.cardAddButton:hover{
  background-color: transparent;
  border-color: var(--blue);
  color: var(--blue);
}

.popup2blur{
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0vw;
  left: 0vw;
  background-color: rgba(255, 255, 255, 0.089);
  z-index: 8;
}

.popup2Div{
  backdrop-filter: blur(10px);
  text-align: center;
  width: 45%;
  padding: 5px; 
  position: fixed;
  left: 30%;
  top: 30%;
  box-shadow: 0px 10px 20px rgb(22, 22, 22);
  /* border:1px solid white; */
  /* background-image: url('./assets/pngwing.com\ \(2\).png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}


.popup2Title {
  text-align: center;
  color: rgb(26, 161, 240);
  font-size: 3.4vw;
}

.secondPopupImg{
  width: 40%;
}

.popup2Input {
  width: 90%;
  padding:5px;
  font-size: 2vw;
  outline:none;
  text-align: center;
  border-radius: 5px;
}

.popup2Input:focus{
  border:2px solid var(--blue);
}

.popup2ButtonDiv {
  display: flex;
  margin: 1vh auto;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2vw;
}

.popup2AddButton {
  width: 45%;
  border: 1px solid var(--blue);
  padding: 8px 0px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
  color: var(--text);
}

.popup2AddButton:hover{
  background-color: transparent;
  color: var(--blue);
}

.popup2DeleteButton {
  width: 45%;
  border: 1px solid var(--darkblue);
  padding: 8px 0px;
  background: var(--darkblue);
  transition: all 0.1s linear;
  color: var(--text);
}

.popup2DeleteButton:hover{
  background-color: transparent;
  color: var(--orange);
  border-color: var(--orange);
}

.innerDivText{
  background-color: aqua;
  border: 1px solid white;
}

.addTaskListItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  padding: 0.5vw;
  border-right: none;
  border-left: none;
  padding: 0.5vw 0px; 
  color: var(--text);
}

.TaskListp{
  border: 1px solid rgb(11, 11, 87); 
  background: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(10px);
  width: 80%;
  padding: 0.5vw 0px; 
  margin: 0px auto; 
}

.TaskListpCancel{
  cursor: pointer;
  padding: 0.5vw 0px; 
  background: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(10px);
  width: 20%; 
  color: rgba(15, 61, 161, 0.877);
  /* font-size: 3vw; */
  margin: 0px auto; 
}

.showCard{
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  backdrop-filter: blur(5px);
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
 /* border: 1px solid white; */
}

.showcardInnerDiv{
  position: absolute;
  top: 15vh; 
 color: white;
 display: flex;
 width: 100vw;
 justify-content: space-evenly;
 align-items: center;
 font-size: 3vw;
}

.backImg{
  width: 50px;
}
/* responsive */

@media screen and (max-width: 1100px) {
  .cardBody {
    width: 45%;
    
  }
}

 @media screen and (max-width: 912px) {
  .logo {
    font-size: 6vw;
  }

  .List {
    font-size: 6vw;
  }

  .addItem {
    font-size: 5vw;
    width: 24vw;
  }

  .centerImg {
    width: 100vw;
    left: 1px;
    }

  .logo::first-letter {
    font-size: 7vw;
  }

  .popupDiv {
    width: 85%;
    top: 26%;
    left: 7%;
  }

  .popupHeading{
    font-size: 7vw;
  }

  .input{
    font-size: 4vw;
  }

  .input:focus{
    outline-color: none;
  }

  .add{
    font-size: 4.5vw;
    width: 95%;
  }

  .close{
    font-size: 4.5vw;
    width: 95%;
  }

  .cardContainer {
    justify-content: center;
  }

  .cardTitle{
    font-size: 6vw;
  }

  .cardBody {
    width: 95%;
  }

  .cardDuttonDiv {
    font-size: 5vw;
    padding: 1vh 0vh;
  }

  .popup2Div{
    width: 90%;
    top: 23%;
    left: 5%;
  }

  .popup2Title {
    font-size: 8vw;
    margin: 0px;
  }

  .secondPopupImg{
    width: 45vw;
  }

  .popup2Input{
    font-size: 5vw; 
    padding: 1vw 0vw;
  }

  .popup2ButtonDiv{
    font-size: 3.5vw;
    gap: 1vh;
    flex-direction: column-reverse;
  }

  .popup2DeleteButton{
    width: 90%;
    font-size: 5vw;
    padding: 1vw 0vw;
  }

  .popup2AddButton{
    width: 90%;
    font-size: 5vw;
    padding: 1vw 0vw;
  }

  .addTaskListItem{
    font-size: 4vw;
  }

  .showCardAdd{
    font-size: 4vw;
  }

  .back{
    font-size: 4vw;
  }

  .cardBody2{
    width: 86vw;
    left: 8vw;
  }
} 

@media screen and (max-width: 540px) {
    .logo {
      font-size: 10vw;
    }

    .logo::first-letter{
        font-size: 10vw;
      }
      
  
    .List {
      font-size: 8vw;
    }
  
    .addItem {
      position: fixed;
      bottom: 0px;
      left: 0%;
      float: none;
      margin: 1vh;
      z-index: 5;
      background-color:  rgb(241, 150, 47);
      width: 94vw;
      color: white;
      font-size: 6vw;
    }
  
    .centerImg {
      width: 100vw;
      left: 0px;
      top: 35vh;
      }
  
    .popupDiv {
      width: 90%;
      top: 32%;
      left: 4%;
    }
  
    .popupHeading{
      font-size: 5vw;
    }
  
    .input{
      font-size: 4vw;
    }
  
    .input:focus{
      outline-color: none;
    }
  
    .add{
      font-size: 5.5vw;
      width: 87vw;
    }
  
    .close{
      font-size: 5.5vw;
      width: 87vw;
    }
  
    .cardContainer {
      justify-content: center;
      margin-top: 4vh;
    }
  
    .cardTitle{
      font-size: 4vw;
    }
  
    .cardBody {
      width: 80%;
      height: 50%;
    }
  
    .cardAddButton {
      font-size: 3.5vw;
    }
  
    .cardDuttonDiv {
      font-size: 3.5vw;
    }
  
    .popup2Div{
      width: 60%;
      top: 32%;
      left: 19%;
    }
  
    .popup2Title {
      font-size: 6vw;
      margin: 0px;
    }
  
    .popup2Input{
      font-size: 3vw; 
    }
  
    .popup2ButtonDiv{
      font-size: 3.5vw;
      gap: 1vh;
    }
  
    .addTaskListItem{
      font-size: 4vw;
    }
  }
