*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.navbar{
    display: flex;
}
.nav1{
    margin-left: 15vw;
    margin-top: 5vh;
}
.tasks{
    color: white;
    font-weight: 900;
    /* margin: 10px; */
    font-size: 3rem;
}
.lists{
    color: white;
    margin: 10px;
    font-size: 3rem;
}
.nav2{
    margin-top:4vh ;
    margin-left: 40vw;
}
.plus{

    margin: 20px;
    padding-left: 12px;
    font-weight: bolder;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    font-size: 3rem;
    height: 50px;
    background-color: rgb(15, 118, 214);
    border-radius: 50%;
    color: black;
    cursor: pointer;
}
.additems{
    color: white;
    font-size: 2rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    
}
.popupbox{
    /* margin-left: 35vw; */
    /* margin-top: 15vh; */
    top: 35vh;
    left: 35vw;
    box-sizing: border-box;
    line-height: 2vw;
    border-radius: 5px;
    background-color: rgb(5, 168, 168);
    position: fixed;
    width: 350px;
    height: 200px;
    border: 2px solid white;
}
#popupbox h2{
    padding-left: 90px;
    padding-top: 10px;
}
#popupbox input{
    width: 15vw;
    font-size: 1.2rem;
    padding-left: 80px;
    border-radius: 5px;
    height: 30px;
    margin-left: 40px;
}
.cardbuttons{
    box-sizing: border-box;
    display: inline-block;
    /* width: 45%; */
    width: 90px;
    height: 50px;
    padding: 10px;
    margin-left: 60px;
    font-size: 1.7rem;
    border-radius: 25px;
    background-color: rgb(0, 124, 155);
    padding-top: 10ps;
    cursor: pointer;
   
}
.show{
    display: block;

}
.hide{
    display: none;
}
.cardcontainer{
    display: flex;
    width: 70vw;
    margin-left: 15vw;
    justify-content: space-between;
    flex-wrap: wrap;
    
    /* border: 5px solid whitesmoke;*/
} 
.notask{
    color: white;
    font-size: 2.5rem;
}
.card{
    box-sizing: border-box;
    /* padding-left: 55px; */
    padding-top: 15px;
    width: 175px;
    min-height: 250px;
    background-color: white; 
    border: 1px solid black;
    border-radius: 10px;
}
.center{
    padding-left: 45px;
    cursor: pointer;
    color: rgb(238, 131, 43);
}
#listingid{
    color: rgb(238, 131, 43);
    /* cursor: pointer; */
    padding-left: 20px;
}

.horizontal-line{
    width: 170px;
    /* margin-right: 10vw; */
    margin-right: 10vw;
}
.del-image{

    background-image: url(./del-Icon.svg);
    background-repeat: no-repeat;
    
}

.add-icon{
    padding-top: 5px;
    font-size: 2.3rem;
    padding-right: 50px;
    font-weight: bolder;
}


/* adding items in card (popup) */


/* .popupbox2{
    position: fixed;
    top: 35vh;
    left: 35vw;
    box-sizing: border-box;
    line-height: 2vw;
    border-radius: 5px;
    background-color: rgb(5, 168, 168);
    width: 350px;
    height: 200px;
    border: 2px solid white;
}
#popupbox2 h2{
    color: white;
    padding-left: 90px;
    padding-top: 10px;
}
#popupbox2 input{
    width: 15vw;
    font-size: 1.2rem;
    padding-left: 80px;
    border-radius: 5px;
    height: 30px;
    margin-left: 40px;
} */
/* ................................................... */
.popup2blur{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0vw;
    left: 0vw;
    background-color: rgba(255, 255, 255, 0.089);
  }
  
  .popup2Div{
    backdrop-filter: blur(10px);
    text-align: center;
    width: 45%;
    padding: 5px; 
    position: fixed;
    background-color: rgb(5, 168, 168);
    left: 30%;
    top: 30%;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    border:1px solid white;
    border-radius: 5px;
  }
  
  
  .popup2Title {
    text-align: center;
    color: black;
    font-size: 3.4vw;
  }
  
  .secondPopupImg{
    width: 40%;
  }
  
  .popup2Input {
    width: 90%;
    padding:5px;
    font-size: 2vw;
    outline:none;
    text-align: center;
    border-radius: 5px;
  }
  
  .popup2Input:focus{
    border:2px solid var(--orange);
  }
  
  .popup2ButtonDiv {
    display: flex;
    margin: 10px auto;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .popup2AddButton {
    cursor: pointer;
    width: 45%;
    border: 1px solid var(--orange);
    padding: 8px 0px;
    background: var(--orange);
    transition: all 0.3s ease-in-out;
    color: var(--text);
  }
  
  .popup2AddButton:hover{
    background-color: transparent;
    color: var(--orange);
  }
  
  .popup2DeleteButton {
    cursor: pointer;
    width: 45%;
    border: 1px solid var(--darkRed);
    padding: 8px 0px;
    background: var(--darkRed);
    transition: all 0.1s linear;
    color: var(--text);
  }
  
  .popup2DeleteButton:hover{
    background-color: transparent;
    color: var(--lightRed);
    border-color: var(--lightRed);
  }
  
  .innerDivText{
    background-color: aqua;
    border: 1px solid white;
  }
  
  .addTaskListItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 3vw; */
    padding: 0.5vw;
    /* background: rgba(241, 150, 47, 0.073); */
    border: 1px solid white; 
    border-right: none;
    border-left: none;
    padding: 0.5vw 0px; 
    margin: 1vh auto;
    color: var(--text);
  }
  
  .joaddhua{
    /* border: 1px solid red;  */
    width: 70%;
    padding: 0.5vw 0px; 
    margin: 0px auto; 
    font-size: 1.5rem;
  }
  
  .itemhatao{
    cursor: pointer;
    font-weight: 900;
    padding: 0.5vw 0px; 
    width: 30%; 
    color: rgb(41, 40, 40);
   
  
  }
